<!DOCTYPE html>
<html>

<head>
    <title>European Climate Data Explorer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <%- include('./partials/style') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" type="text/css" media="screen" href="css/cca-search.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/compiled-less.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style-maris.css?v=<%= Math.floor((new Date())/ 1000)%>"" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body dir="ltr"
    class="cover-layout-empty-layout template-view portaltype-collective-cover-content site-cca section-knowledge subsection-c-a-indicators subsection-c-a-indicators-c-a-indicators icons-on userrole-anonymous">
    <div class="top-page-area">
        <div class="edit-bar-wrapper">
            <div class="content-container"> </div>
        </div>
        <div class="header">
            <%- include('./partials/nav') %>
        </div>
    </div>

    <div class="content-container site-container">
        <div id="portal-columns">
            <div id="portal-column-content" class="cell width-full position-0">
                <div id="viewlet-above-content">
                    <div id="portal-breadcrumbs">
                        <span id="breadcrumbs-you-are-here">You are here:</span>
                        <span id="breadcrumbs-home">
                            <a href="/">Home</a>
                            <span class="breadcrumbSeparator">/</span>
                        </span>
                        <span id="breadcrumbs-1" dir="ltr">
                            <a href="#">Knowledge</a>
                            <span class="breadcrumbSeparator"> /</span>
                        </span>
                        <span id="breadcrumbs-2" dir="ltr">
                            <span id="breadcrumbs-current">European Climate Data Explorer</span>
                        </span>
                    </div>
                </div>
                <div class="">
                    <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
                        <dt>Info</dt>
                        <dd></dd>
                    </dl>



                    <div id="content">
                        <div class="row">
                            <div class="column col-md-16 " >
                                <div class="tile tile-default" >
                                    <div class="cover-richtext-tile tile-content">
                                        <button class="right standard-button primary-button"><a href="overview-list.html">Overview list all indicators</a></button>
                                        <button class="right standard-button primary-button" style="margin-right: 10px;"><a href="Climate-Adapt-Guide.pdf">Help</a></button>

                                        <h1>Climate Indicators</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-md-16 " >
                                <div class="tile tile-default">
                                    <div class="cover-richtext-tile tile-content">
                                        <div class="alert warning">
                                            Due to updates some apps may take a while to load.
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row container-themes justify-content-around">
                            <div class="column col-md-3 img-health" 
                                onclick="window.location = 'health.html'">
                                <h3>Health</h3>
                            </div>
                            <div class="column col-md-3 img-agriculture" 
                                onclick="window.location = 'agriculture.html'">
                                <h3>Agriculture</h3>
                            </div>
                            <div class="column col-md-3 img-forestry" 
                                onclick="window.location = 'forestry.html'">
                                <h3>Forestry</h3>
                            </div>
                        </div>

                        <div class="row container-themes">
                            <div class="column col-md-3 img-energy" 
                                onclick="window.location = 'energy.html'">
                                <h3>Energy</h3>
                            </div>
                            <div class="column col-md-3 img-tourism" 
                                onclick="window.location = 'tourism.html'">
                                <h3>Tourism</h3>
                            </div>
                            <div class="column col-md-3 img-coastal" 
                                onclick="window.location = 'coastal.html'">
                                <h3>Coastal</h3>
                            </div>
                        </div>

                        <!-- <div class="row container-themes">
                            <div class="column col-md-3 img-insurance-and-disaster-risk-reduction not-active-yet">
                                <h3>Insurance and Disaster Risk Reduction <br>(coming soon)</h3>
                            </div>
                            <div class="column col-md-3 img-physical-climate-extremes not-active-yet" >
                                <h3>Physical Climate Extremes <br>(coming soon)</h3>
                            </div>
                        </div> -->
                        <br /><br />
                    </div>






                </div>
            </div>
        </div>
    </div>

    <footer>

        <%- include('./partials/footer-nav') %>

        <%- include('./partials/footer') %>

    </footer>




</body>

</html>