<!DOCTYPE html>
<html>

<head>
    <title>European Climate Data Explorer - Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <%- include('./partials/style') %>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
            as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="stylesheet" type="text/css" media="screen" href="css/cca-search.css" />

        <link rel="stylesheet" type="text/css" media="screen" href="css/compiled-less.css" />

        <link rel="stylesheet" type="text/css" media="screen"
            href="css/style-maris.css?v=<%= css_version %>"" />

    <link rel=" shortcut icon" type="image/x-icon" href="/favicon.ico">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

</head>

<body dir="ltr"
    class="cover-layout-empty-layout template-view portaltype-collective-cover-content site-cca section-knowledge subsection-c-a-indicators subsection-c-a-indicators-c-a-indicators icons-on userrole-anonymous">
    <div class="top-page-area">
        <div class="edit-bar-wrapper">
            <div class="content-container"> </div>
        </div>
        <div class="header">
            <%- include('./partials/nav') %>
        </div>
    </div>

    <div class="content-container site-container">
        <div id="portal-columns">
            <div id="portal-column-content" class="cell width-full position-0">
                <div id="viewlet-above-content">
                    <div id="portal-breadcrumbs">
                        <span id="breadcrumbs-you-are-here">You are here:</span>
                        <span id="breadcrumbs-home">
                            <a href="/">Home</a>
                            <span class="breadcrumbSeparator">/</span>
                        </span>
                        <span id="breadcrumbs-1" dir="ltr">
                            <a href="#">Knowledge</a>
                            <span class="breadcrumbSeparator"> /</span>
                        </span>
                        <span id="breadcrumbs-2" dir="ltr">
                            <a href="index.html">European Climate Data Explorer</a>
                            <span class="breadcrumbSeparator"> /</span>
                        </span>
                        <span id="breadcrumbs-3" dir="ltr">
                            <span id="breadcrumbs-current">Overview</span>
                        </span>
                    </div>
                </div>
                <div class="">
                    <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
                        <dt>Info</dt>
                        <dd></dd>
                    </dl>

                    <div id="content">
                        <div class="row">
                            <div class="column col-md-12" data-panel="">
                                <div class="tile tile-default" >
                                    <div class="cover-richtext-tile tile-content">
                                        <button class="right standard-button secundary-button"><a href="index.html">Go
                                                back</a></button>
                                        <h1>Overview list all indices</h1>
                                        <p>
                                            <%- description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column col-md-6">
                                <div class="row">
                                    <!-- For each category of hazards (left column) -->
                                    <% for(const index in category_order_left) { 
                                        const category = category_order_left[index];
                                        if(hazard_list.hasOwnProperty(category)){ 
                                            //if(category === "Other") continue;
                                            %>
                                            <div class="column col-md-12">
                                                <h2>
                                                    <%= category %>
                                                </h2>
                                                <!-- For each hazard in the category -->
                                                <% for(const hazard_index in hazard_type_order_left[index]) {
                                                    const hazard = hazard_type_order_left[index][hazard_index];
                                                    if(hazard_list[category].hasOwnProperty(hazard)){ %>
                                                    <h3>
                                                        <%= hazard %>
                                                    </h3>
                                                    <ul>
                                                        <!--  for each indicator in the hazard. -->
                                                        <% for(const appindex in hazard_list[category][hazard]) { %>
                                                            <% const app = hazard_list[category][hazard][appindex] %>
                                                            <li>
                                                                <a href="<%= app.url %>"> <%= app.title %> </a>
                                                            </li>
                                                        <% } %>
                                                    </ul>
                                                    <% } else {
                                                        // console.warn("Warning: No indicators with hazard type: ", hazard);
                                                    }
                                                } %>
                                            </div>
                                        <% } 
                                    } %>
                                </div>
                            </div>
                            <div class="column col-md-6">
                                <div class="row">
                                    <% for(const index in category_order_right) { 
                                        const category = category_order_right[index];
                                        if(hazard_list.hasOwnProperty(category)){ 
                                            //if(category === "Other") continue;
                                            %>
                                            <div class="column col-md-12">
                                                <h2>
                                                    <%= category %>
                                                </h2>
                                                <!-- For each hazard in the category -->
                                                <% for(const hazard_index in hazard_type_order_right[index]) {
                                                    const hazard = hazard_type_order_right[index][hazard_index];
                                                    if(hazard_list[category].hasOwnProperty(hazard)){ 
                                                        if(hazard != "Other") { %>
                                                            <h3>
                                                                <%= hazard %>
                                                            </h3>    
                                                        <% } %>
                                                        
                                                        <ul>
                                                            <!--  for each indicator in the hazard. -->
                                                            <% for(const appindex in hazard_list[category][hazard]) { %>
                                                                <% const app = hazard_list[category][hazard][appindex] %>
                                                                <li>
                                                                    <a href="<%= app.url %>"> <%= app.title %> </a>
                                                                </li>
                                                            <% } %>
                                                        </ul>
                                                    <% 
                                                    } else {
                                                        console.warn("Warning: No indicators with hazard type:", category, '>', hazard);
                                                    }
                                                } %>
                                            </div>
                                        <% } 
                                    } %>
                                </div>
                            </div>
                    
                        </div>

                        <div class="row">
                            <br>
                            <br>
                            <%- include('./partials/disclaimer-link') %>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

        <%- include('./partials/footer-nav') %>

            <%- include('./partials/footer') %>

    </footer>

</body>

</html>