{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
window.c3sMetadata = {{ c3s_metadata|json_encode|raw }};
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1">
</script><script src="/js/main.js"></script>
{% endblock %}

{% block body %}
<h1>ECDE API Monitoring overview</h1>
<p>
	This is the first version of the API Tester for C3S_434. The colors mean the following:
</p>
<ul>
	<li><span class="status-indicator red">Red</span> is a timeout (>10 minutes response time) or error (status code != 200)</li>
	<li><span class="status-indicator orange">Orange</span> is a warning (>5 minutes response time)</li>
	<li><span class="status-indicator green">Green</span> is good (Successfully received a 200 status code)</li>
</ul>
<p>
The rules of this three-color system are a temporary solution. We are working on a better system to demonstrate the health of the workflows.
</p>


<br>
<p>
	Last test done at: 
		{{ latest_update.date|date('c') }} 
</p>
<div class="table-container">
	<table>
		<thead>
			<tr>
				<th>Identifier</th>
				<th>Index name (in European Climate Data Explorer)</th>
				<th>Overview</th>
				<th>Detail</th>
				<th>Graph</th>
				<th>History</th>
			</tr>
		</thead>
		<tbody>
			{% for item in c3s_testresults %}
				{% if item.detail is defined and item.overview is defined %}
					<tr>
						<td>{{item.detail.c3s_indicator_id}}</td>
						<td>{{item.detail.title}}</td>
						<td><a class="{{item.overview.status}} status-indicator" target="_blank" href="{{ item.overview.ecde_url }}">Overview</a></td>
						<td><a class="{{item.detail.status}} status-indicator" target="_blank"  href="{{ item.detail.ecde_url }}/?{{item.detail.request_content_qs}}#detail">Detail</a></td>
						<td><a class="view_graph_btn" data-id="{{item.detail.c3s_indicator_id}}_graph_row" href="#">View graph</a></td>
						<td>
							<select class="history_select" id="{{item.detail.c3s_indicator_id}}_history_select">
							{% for log in item.detail.history %}
								<option class="{{log.status}}" value="{{loop.index0}}">
								{{- log.input_date|date("Y-m-d") -}}: {{ log.request_content|json_encode() }}
								</option>
							{% endfor %}
							</select>
							<button class="history_open" data-id="{{item.detail.c3s_indicator_id}}">
								Open
							</button>
							<script>
								if(!window.c3sIndicatorHistory) window.c3sIndicatorHistory = {};
								window.c3sIndicatorHistory["{{item.detail.c3s_indicator_id}}"] = {{item.detail.history|json_encode()|raw}};
							</script>
						</td>
					</tr>
				{% endif %} 	
			{% endfor %}
		</tbody>
	</table>
</div>
<br><br>
<h2>Test result history graphs</h2>
<div class="graphs-container">
	{% for indicator in c3s_metadata %}
		
		<div class="indicator_graph_row" id="{{indicator.c3s_identifier }}_graph_row">
						<h3>{{indicator.c3s_identifier}}: {{indicator.title}}</h3>

			<div class="result">
				<canvas class="result_chart" id="chart_{{indicator.c3s_identifier }}"></canvas>
			</div>
		</div>
	{% endfor %}
	
</div>

{% endblock %}
